{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h1>Edit Term: {{ term }}</h1>
    <form method="POST" action="/glossary/edit/{{ term }}" id="glossary-form-edit" data-term="{{ term }}">
        <div class="form-group mb-2">
            <label for="descr">Description:</label>
            <textarea class="form-control" id="descr" name="descr">{{ term_data.descr }}</textarea>
        </div>
        <div class="form-group mb-2">
            <label for="syn">Synonym:</label>
            <input type="text" class="form-control" id="syn" name="syn" value="{{ term_data.syn }}">
        </div>
        <div class="form-group mb-2">
            <label for="tag">Tag:</label>
            <input type="text" class="form-control" id="tag" name="tag" value="{{ term_data.tag }}">
        </div>

        <div>
            <button type="button" class="btn btn-primary btn-sm mb-2" style="float: right;" onclick="addTranslationRow()"><i
                    class="bi bi-plus"></i>Add translation
            </button>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Language</th>
                    <th>Translation</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="translations-table-body">
                {% if term_data.i18n %}
                    {% for language, translation in term_data.i18n.items() %}
                    <tr class="translation-row">
                        <td class="language-cell">{{ language }}</td>
                        <td contenteditable="true" class="translation-cell">{{ translation }}</td>
                        <td>
                            <button type="button" class="btn btn-sm" onclick="removeTranslationRow(this)"><i
                                    class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div style="float: right;">
            <button type="submit" class="btn btn-primary" id="glossary-save-button">Save</button>
            <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
        </div>
    </form>
</div>
{% endblock %}
